@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #473525e5;
  background-image: url(https://res.cloudinary.com/dikleyjwz/image/upload/v1705243105/BG_ygfi5a.png);
  background-size: cover;
}
