@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #473525e5;
  background-image: url(https://res.cloudinary.com/dikleyjwz/image/upload/v1705250214/BG_1_o1pjez.png);
  background-size: cover;
}
